body{
  background-color: #fffefe;
}

/* From Uiverse.io by alexruix */ 
.input-group {
 position: relative;
}

.input {
 border: solid 1.5px #9e9e9e;
 border-radius: 1rem;
 background: none;
 padding: 1rem;
 font-size: 1rem;
 /* color: #f5f5f5; */
 transition: border 150ms cubic-bezier(0.,0,0.2,1);
}

.user-label {
 position: absolute;
 left: 15px;
 color: #e8e8e8;
 pointer-events: none;
 transform: translateY(1rem);
 transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus,
.input:valid{
 outline: none;
 border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label,
.input:valid ~ .user-label {
 transform: translateY(-60%) scale(0.8);
 background-color:#dde6f2;
 border:1px solid blue;
 border-radius: 12px;
 padding: 0 12px;
 font-size: 1.2rem;
 color: black;
}


/* ============add button========= */
